.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 88px;
  @include md {
    padding: 30px 39px;
  }
  @include sm {
    flex-direction: column;
    padding: 0;
  }
  &__logo {
    display: block;
    width: 80px;
    @include sm {
      width: 48px;
      margin: 10px 0;
    }
  }
  &__nav{
    @include sm {
      width: 100%;
    }
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    .menu__item {
      @include sm {
        width: 50%;
        padding: 8px 0;
      }
      & + .menu__item {
        margin-left: 4rem;
        @include md {
          margin-left: 2.5rem;
        }
        @include sm {
          margin-left: 0rem;
        }
      }
    }
    .menu__link {
      display: block;
    }
  }
  .header__link-white{
    color: $white;
    font-size: 1.25rem;
    line-height: 1.35;
    @include md {
      text-align: center;
    }
  }
}