<nav class="bg-secondary d-sm-none">
  <div class="container font-size-3">
    <div class="d-flex justify-between text-white">
      <ul class="d-flex">
        <li>
          <a
            href="#"
            class="d-block text-reset py-1d5 me-7 link-hover-grey-200"
            >最新消息</a
          >
        </li>
        <li>
          <a
            href="#"
            class="d-block text-reset py-1d5 me-7 link-hover-grey-200"
            >特別企劃</a
          >
        </li>
        <li>
          <a
            href="#"
            class="d-block text-reset py-1d5 me-7 link-hover-grey-200"
            >新品上市</a
          >
        </li>
        <li>
          <a href="#" class="d-block text-reset py-1d5 link-hover-grey-200"
            >鏡框小知識</a
          >
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <span class="material-icons font-size-6">
          search
        </span>
      </div>
    </div>
  </div>
</nav>