<footer class="footer bg-primary">
  <div class="container">
    <div class="footer-wrap">
      <div>
        <ul class="footerMenu">
          <li class="footerMenu-item"><a class="footerMenu-link" href="./index.html">首頁</a></li>
          <li class="footerMenu-item"><a class="footerMenu-link" href="./product.html">系列鏡框</a></li>
          <li class="footerMenu-item"><a class="footerMenu-link" href="./location.html">門市據點</a></li>
          <li class="footerMenu-item"><a class="footerMenu-link" href="./blog.html">部落格</a></li>
          <li class="footerMenu-item"><a class="footerMenu-link" href="./faq.html">常見問題</a></li>
        </ul>
        <ul class="contact">
          <li><a href="#" class="contact-link"><span class="material-icons-outlined lg-36 md-24 sm-18">
            call
            </span>
            0800-000-000</a></li>
          <li><a href="#" class="contact-link"><span class="material-icons-outlined lg-36 md-24 sm-18">
            email
            </span>glasses@business.com</a></li>
        </ul>
      </div>
      <div>
        <ul class="social">
          <li class="social-item"><a href="#"><img src="./assets/images/icon-fb.svg" class="social-link" alt="icon-fb"></a></li>
          <li class="social-item"><a class="social-link social__bg-ig bg-center-cover" href="#"></a></li>
          <li class="social-item"><a class="social-link social__bg-line bg-center-cover" href="#"></a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <div class="term">
        <a href="#" class="term-link">隱私權政策</a>
        <a href="#" class="term-link">服務條款</a>
      </div>
    </div>
  </div>
</footer>