<header class="header bg-primary">
  <a class="header__logo" href="./index.html"><img class="img-fluid" src="./assets/images/logo.png" alt="logo"></a>
  <nav class="header__nav">
    <ul class="menu">
      <li class="menu__item border-sm"><a class="menu__link header__link-white" href="./product.html">系列鏡框</a></li>
      <li class="menu__item border-sm"><a class="menu__link header__link-white" href="./location.html">門市據點</a></li>
      <li class="menu__item border-sm"><a class="menu__link header__link-white" href="./blog.html">部落格</a></li>
      <li class="menu__item border-sm"><a class="menu__link header__link-white" href="./faq.html">常見問題</a></li>
    </ul>
  </nav>
</header>