.product {
  &__bg1 {
    background-image: url("../images/banner-1.png");
    @include md {
      background-image: url("../images/banner-1-md.png");
    }
  }
  &__bg2 {
    background-image: url("../images/banner-2.png");
    @include md {
      background-image: url("../images/banner-2-md.png");
    }
  }
  &__bg3 {
    background-image: url("../images/banner-3.png");
    @include md {
      background-image: url("../images/banner-3-md.png");
    }
  }
  &__bg4 {
    background-image: url("../images/banner-4.png");
    @include md {
      background-image: url("../images/banner-4-md.png");
    }
  }
  &__img{
    height: 164px;
    object-fit: cover;
    @include sm {
      height: 166px;
    }
  }
}

.colors {
  &__list {
    display: flex;
  }
  &__box {
    width: 24px;
    height: 24px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }
  &__red {
    background-color: $primary;
  }
  &__black {
    background-color: $black;
  }
}

.categoryMenu {
  &__item {
    padding: 27px 0;
    @include md {
      padding: 14px 0;
    }
    @include sm {
      padding: 6px 0;
    }
    background-image: linear-gradient(rgba($primary, 0.2), rgba($primary, 0.2));
    background-position: left bottom;
    background-size: 0 8px;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    &.active {
      background-image: linear-gradient($primary, $primary);
      background-size: 100% 8px;
    }
    &:not(.active):hover {
      background-size: 100% 8px;
    }
  }
}