.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: $gutter-width / 2;
  padding-right: $gutter-width / 2;
  @include md {
    max-width: 720px;
  }
  @include sm {
    max-width: 375px;
  }
}
.container-fluid{
  max-width: 100%;
  margin: 0 auto;
  padding-left: $gutter-width / 2;
  padding-right: $gutter-width / 2;
  @include md {
    max-width: 100%;
  }
  @include sm {
    max-width: 100%;
  }
}