.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($gutter-width / 2);
  margin-right: -($gutter-width / 2);
}

.col-0 {
  padding-left: 0;
  padding-right: 0;
}
.col {
  padding-left: $gutter-width/2;
  padding-right: $gutter-width/2;
  flex-grow: 1;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    padding-left: $gutter-width/2;
    padding-right: $gutter-width/2;
    width: 100% * ($i / $grid-columns);
  }
}

@for $i from 1 through $grid-columns {
  @include md {
    .col-md-#{$i} {
      padding-left: $gutter-width/2;
      padding-right: $gutter-width/2;
      width: 100% * ($i / $grid-columns);
    }
  }
}
@include md {
  .col-md-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .col {
    padding-left: $gutter-width/2;
    padding-right: $gutter-width/2;
    flex-grow: 1;
  }
}

@for $i from 1 through $grid-columns {
  @include sm {
    .col-sm-#{$i} {
      padding-left: $gutter-width/2;
      padding-right: $gutter-width/2;
      width: 100% * ($i / $grid-columns);
    }
  }
}
@include sm {
  .col-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .col {
    padding-left: $gutter-width/2;
    padding-right: $gutter-width/2;
    flex-grow: 1;
  }
}
