@import "./layout/header";
@import "./layout/footer";
main {
  min-height: calc(100vh - 109px - 344px);
  @include md {
    min-height: calc(100vh - 109px - 190px);
  }
  @include sm {
    min-height: calc(100vh - 146px - 233px);
  }
}

.banner {
  &__img {
    min-height: 304px;
    @include sm {
      min-height: 148px;
    }
  }
}

.breadcrumb {
  display: flex;
  a {
    color: $black;
  }
  &-item.active {
    color: $primary;
  }
  &-item + &-item {
    margin-left: 1.5rem;
    position: relative;
    &::after{
      content: '/';
      position: absolute;
      left: -0.75rem;
    }
  }
}
