@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin icon($iconName) {
  background-image: url("../images/#{$iconName}");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @content;
}