.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  .page-link {
    padding: 0.375rem 0.75rem;
    position: relative;
    display: block;
    color: $gray500;
    background-color: $white;
    border: 1px solid $gray500;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &.active {
      background-color: $black;
      color: $white;
    }
    &.disabled {
      background-color: $gray300;
    }
  }
  .page-item:not(:first-child) .page-link {
    margin-left: -1px;
  }
}
